
h1 {
  font-size: 2.625rem;
}

summary {
  font-size: 2.625rem;
}

details {
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}

table {
    display: table;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 20px;
    border-color: gray;
	table-layout: fixed;
}

table td, table th {
  max-width: 200px;      /* Maximale Breite für alle Tabellenzellen */
}

.kaw-card-sample {
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 100vw;
}

.kaw-summary-2 {
	font-size: 1.5rem;
}

.kaw-explanation {
	border: 1px solid #ccc; 
    padding: 5px; 
    border-radius: 10px; 
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2); 
    font-style: italic; 
    display: inline-block; 
    text-align: center; 
    margin: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    transform: scale(1.0);
}
