
h1 {
  font-size: 4.5rem;
  font-family: 'Jolly Lodger', cursive;
  width: 100%;
  max-width: 8000px;
  line-height:0.8;
  color: red;
  font-weight: normal;
  margin: 0.2em;
  margin-bottom: 0.6em;
}

[data-theme="dark"] h1 {
  color: red; 
}

h2 {
  font-size: 2.0rem;
  font-family: 'Jolly Lodger', cursive;	
  color: black;
  margin-top: 0.1em;
  margin-bottom: 1.5em;
  font-weight: normal;
}

[data-theme="dark"] h2 {
  color: white;
}

summary {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 2.5rem;
  color: black;
  
}

[data-theme="dark"] summary {
  color: white;
}

details {
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}

table {
    display: table;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 20px;
    border-color: gray;
	table-layout: fixed;
}

table td, table th {
  max-width: 200px;      /* Maximale Breite für alle Tabellenzellen */
}

.kaw-card-sample {
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 100vw;
}

.kaw-summary-2 {
	font-size: 1.5rem;
	font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: black;
}

[data-theme="dark"] kaw-summary-2 {
  color: white; /* Farbe im dunklen Theme */
}

.kaw-game-hint {
	border: 1px solid #ccc; 
    padding: 5px; 
    border-radius: 10px; 
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2); 
    font-style: italic; 
	font-weight: bold;
    display: inline-block; 
    text-align: center; 
    margin: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1.0);
}

[data-theme="dark"] kaw-game-hint {
  color: white; /* Farbe im dunklen Theme */
}

.kaw-card-brief {
	font-weight: normal; 
    text-align: center; 
    margin: 15px;
}
